/* .home-carousel img {
  border-radius: 16px;
  height: 300px;
  object-fit: cover;
}
.home-wrapper {
  margin-bottom: 10%;
  max-height: 50px;
  max-width: 100px;
}

.home-title {
  margin: auto;
  text-shadow: 20px;
}
.home-subtext {
}
.home-buttons {
} */
